In [2]:
!pip install tensorflow

Requirement already satisfied: tensorflow in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (2.17.0)
Requirement already satisfied: tensorflow-intel==2.17.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow) (2.17.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (24.3.25)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=3.10.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.11.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (18.1.1)
Requirement already satisfied: ml-dtypes<0.5.0,>=0.3.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (0.4.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.3.0)
Requirement already satisfied: packaging in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (23.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.20.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.32.2)
Requirement already satisfied: setuptools in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (69.5.1)
Requirement already satisfied: six>=1.12.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.16.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.4.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (4.11.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.66.1)
Requirement already satisfied: tensorboard<2.18,>=2.17 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (2.17.1)
Requirement already satisfied: keras>=3.2.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (3.5.0)
Requirement already satisfied: numpy<2.0.0,>=1.26.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorflow-intel==2.17.0->tensorflow) (1.26.4)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.17.0->tensorflow) (0.43.0)
Requirement already satisfied: rich in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (13.3.5)
Requirement already satisfied: namex in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.0.8)
Requirement already satisfied: optree in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.12.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorflow-intel==2.17.0->tensorflow) (2024.7.4)
Requirement already satisfied: markdown>=2.6.8 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (3.0.3)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from werkzeug>=1.0.1->tensorboard<2.18,>=2.17->tensorflow-intel==2.17.0->tensorflow) (2.1.3)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.2.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (2.15.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\subham.mehta\appdata\local\anaconda3\lib\site-packages (from markdown-it-py<3.0.0,>=2.2.0->rich->keras>=3.2.0->tensorflow-intel==2.17.0->tensorflow) (0.1.0)

In [3]:
import tensorflow as tf

In [4]:
print(tf.__version__)

2.17.0

In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [7]:
dataset.shape

(10000, 14)

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [9]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
dataset.Exited.value_counts()   #dataset is not looking balanced

Exited
0    7963
1    2037
Name: count, dtype: int64

In [70]:
#Divinding the dataset into independent and dependent features

X=dataset.iloc[:,3:13]  #not taking first three cols and last col also
y=dataset.iloc[:,13]    #dependent feature (exited)

In [72]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [74]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

## FEATURE ENGINEERING

In [78]:
#so we have two categorical features in dataset which we need to handle in feature engineering

In [80]:
dataset.Geography.value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [82]:
geography = pd.get_dummies(X.Geography,drop_first=True)   ##converting categorical into int by One-hot encoding

In [84]:
geography=geography.astype(int)

In [86]:
geography

      Germany  Spain
0           0      0
1           0      1
2           0      0
3           0      0
4           0      1
...       ...    ...
9995        0      0
9996        0      0
9997        0      0
9998        1      0
9999        0      0

[10000 rows x 2 columns]

In [88]:
gender = pd.get_dummies(X.Gender,drop_first=True)   #converting categorical into int by One-hot encoding

In [90]:
gender=gender.astype(int)

In [92]:
gender

      Male
0        0
1        0
2        0
3        0
4        0
...    ...
9995     1
9996     1
9997     0
9998     1
9999     0

[10000 rows x 1 columns]

In [94]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [96]:
X=X.drop(['Geography','Gender'],axis=1)

In [98]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,42,2,0.00,1,1,1,101348.88
1,608,41,1,83807.86,1,0,1,112542.58
2,502,42,8,159660.80,3,1,0,113931.57
3,699,39,1,0.00,2,0,0,93826.63
4,850,43,2,125510.82,1,1,1,79084.10

In [100]:
## concatenate these variables with dataframe
X=pd.concat([X,geography,gender],axis=1)

In [102]:
X.head()  #now all features in int

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [117]:
#Splitting dataset into Training and Test Set

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)  #dataset got splitted

In [127]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)   #to avoid data lekage
X_test=sc.transform(X_test)

#Here, sc.fit_transform(X_train) standardizes the training data by computing the mean and standard deviation of the training features, and then scales them. 
#When you later transform the test data, you use the same statistics learned from the training set to maintain consistency.

What is fit_transform()?

fit(): Calculates the necessary statistics (e.g., mean, standard deviation) based on the training data. This is done only on the training set so that future data (e.g., test set) is transformed using the same parameters.

transform(): Applies the transformation using the statistics calculated in the fit() step.
    
fit_transform(): Combines both fit() and transform() into one method for convenience.

In [121]:
X_train   #got standardized

array([[ 0.16958176, -0.46460796,  0.00666099, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-2.30455945,  0.30102557, -1.37744033, ...,  1.75486502,
        -0.57369368,  0.91601335],
       [-1.19119591, -0.94312892, -1.031415  , ..., -0.5698444 ,
        -0.57369368, -1.09168714],
       ...,
       [ 0.9015152 , -0.36890377,  0.00666099, ..., -0.5698444 ,
        -0.57369368,  0.91601335],
       [-0.62420521, -0.08179119,  1.39076231, ..., -0.5698444 ,
         1.74309049, -1.09168714],
       [-0.28401079,  0.87525072, -1.37744033, ...,  1.75486502,
        -0.57369368, -1.09168714]])

In [123]:
X_train.shape

(8000, 11)

In [125]:
X_test.shape

(2000, 11)

## Part 2:  Now let's create ANN Model

In [148]:
import tensorflow as tf
from tensorflow.keras import Sequential  #for creating one block of neural network
from tensorflow.keras.layers import Dense, Dropout  #Dense for creating neurons for different layers
from tensorflow.keras.layers import LeakyReLU,ReLU,PReLU,ELU  #activation functions

In [150]:
#Lets intialize the ANN Model
classifier=Sequential()

In [199]:
#Adding the input layer 
classifier.add(Dense(units=11,activation='relu')) #Dense is used to create layers(the neurons) and units=11 means total 11 neurons

In [201]:
#adding the first hidden layer
classifier.add(Dense(units=7,activation='relu'))
classifier.add(Dropout(0.2))  #20% neurons will be dead while trainig

In [203]:
#adding the second hidden layer
classifier.add(Dense(units=6,activation='relu'))
classifier.add(Dropout(0.3))  #30% neurons will be dead while trainig

In [205]:
 #adding the output layer
classifier.add(Dense(units=1,activation='sigmoid'))

In [207]:
#Compile the Model
classifier.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
#accuracy, to evaluate the model performance during training.

In [209]:
#early stopping means if my val_loss not improves then we will be stopping the epochs over there
import tensorflow as tf
early_stopping=tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0,
    patience=0,
    verbose=0,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
    start_from_epoch=0,
)

In [211]:
# Train the model
model_history = classifier.fit(X_train, y_train, epochs=1000, batch_size=10, validation_data=(X_test, y_test),callbacks=early_stopping)
#early stopping means if my val_loss not improves then it will be stopping the epochs over there automatically

Epoch 1/1000
800/800 ━━━━━━━━━━━━━━━━━━━━ 13s 4ms/step - accuracy: 0.8081 - loss: 0.5258 - val_accuracy: 0.8255 - val_loss: 0.3717
Epoch 2/1000
800/800 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8359 - loss: 0.3924 - val_accuracy: 0.8560 - val_loss: 0.3567
Epoch 3/1000
800/800 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.8407 - loss: 0.3950 - val_accuracy: 0.8590 - val_loss: 0.3615

In [212]:
#so after 3 epochs we got the best fit and best accuracy and best min  validation loss  and it got stopped automatically

In [213]:
model_history.history.keys()

dict_keys(['accuracy', 'loss', 'val_accuracy', 'val_loss'])

In [214]:
#Testing or evaluating the model

#Predicting the test set results
y_pred = classifier.predict(X_test)
y_pred=(y_pred>=0.5)

63/63 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step

In [215]:
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [216]:
#Calculate the accuracy score

from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [217]:
score  #this the accuracy of our model

0.859

In [218]:
#get the weights for each input which we are passing
classifier.get_weights()

[array([[-0.15045008, -0.06844289, -0.05446208,  0.09899326, -0.51348484,
          0.19525567,  0.42643765,  0.1612222 , -0.11428823, -0.54919416,
          0.15183207],
        [-0.34767607, -0.6005198 ,  0.5186709 ,  0.68903106, -0.2924157 ,
         -1.1936593 , -0.00894766,  2.0346973 ,  0.18878196,  1.1078634 ,
          0.42848608],
        [-0.36648598,  0.18921119,  0.11752292, -0.08316278, -0.5786493 ,
         -0.6234558 , -0.82115   , -0.45606568, -0.1098296 , -0.37247723,
          0.30358657],
        [ 1.7031143 ,  0.63606006,  0.23000649, -1.133065  , -0.64386034,
         -0.6739249 ,  0.074344  ,  0.37250403,  1.3324108 , -0.86679417,
         -0.73787314],
        [-0.13926457, -0.27201506,  1.7418886 , -1.1855439 , -0.5251962 ,
          1.0084344 , -0.8693175 , -0.43418247,  1.0910137 , -2.0822663 ,
          0.34126428],
        [ 0.17504863, -0.6021081 ,  0.00624143,  0.1443235 , -0.47779176,
          0.55011296,  0.4460598 , -0.31906265, -0.0021095 , -0.24104387,
          0.5548859 ],
        [ 0.20546472, -1.0981333 ,  0.18734623, -1.1387883 , -0.1134721 ,
          0.39988208, -0.05852458,  0.08215882, -0.3364241 , -0.39653698,
          0.71244663],
        [ 0.68565124, -0.41815293,  0.1430056 ,  0.01781036, -0.1478781 ,
         -0.08858793,  0.03333159, -0.29658747,  0.18746002,  0.03680265,
          0.27037707],
        [ 0.13475977, -1.7380114 ,  0.7138908 ,  0.859433  ,  1.0182796 ,
         -0.64347696, -0.99522895,  0.4581294 , -1.4551692 ,  0.44365075,
         -0.6424092 ],
        [-0.83520687,  0.46233675,  0.18651   ,  0.18967599, -0.6548857 ,
         -0.75811124, -0.75989455, -0.00774823,  0.06060605, -0.23449248,
          0.2326708 ],
        [-0.08105401,  0.08309972,  0.09227026,  0.2775901 ,  0.46801934,
          0.246482  ,  0.7608955 , -0.03805508, -0.02630886,  0.43324077,
          1.0315887 ]], dtype=float32),
 array([-1.2451543 , -0.08582776, -1.528726  ,  0.49921575,  0.87100846,
         0.3677109 , -0.3320352 , -0.5557509 , -0.9825247 , -0.19370523,
         0.7065211 ], dtype=float32),
 array([[-1.0429281 ,  0.09682128,  0.4579737 ,  0.47157174,  1.0466081 ,
         -1.0416466 , -0.00600928],
        [ 0.6089533 , -0.99973744,  0.38637137, -0.06218781, -2.9697866 ,
          0.47901863, -1.568086  ],
        [ 1.1331564 ,  0.90974104, -0.03506727,  0.60789317, -0.30860257,
          1.3487767 , -0.26524657],
        [-0.9066796 ,  0.6300538 , -0.23551472,  0.7202953 , -0.0416777 ,
          0.84518397, -1.1216824 ],
        [ 0.60615164, -0.5010649 , -0.7855968 ,  0.3792015 , -0.5163666 ,
         -0.6062453 , -1.069457  ],
        [ 1.6029018 ,  0.33206686, -0.05949855,  0.5838654 , -0.75191575,
          0.25197527, -1.2930619 ],
        [ 0.5027895 , -0.4632761 , -0.32825875, -0.07659695, -0.8270461 ,
          0.13274115, -1.1306652 ],
        [ 1.0416338 ,  0.2458072 , -0.93401295, -0.53349924,  0.46691853,
         -0.26691523,  0.94593275],
        [-0.5087555 ,  1.0806353 , -0.2771196 ,  0.4296114 , -0.37352613,
          0.6586017 , -1.0542686 ],
        [-0.46998274,  0.7786517 ,  0.20843188, -0.27107894, -1.4029888 ,
         -0.37539685,  0.7530697 ],
        [ 0.9154409 ,  0.19348238,  0.23537335,  0.37068614,  0.54283756,
         -0.22581409,  1.3434079 ]], dtype=float32),
 array([ 0.17716138,  0.2744147 ,  1.6887457 ,  0.56173325, -0.6314245 ,
        -1.7917441 , -1.014479  ], dtype=float32),
 array([[ 0.20938027, -5.79871   ,  0.11484325,  0.37909552,  0.39369032,
          0.53387487],
        [-0.3099142 , -0.55526996,  0.01207999, -0.33267498,  0.66548365,
         -0.21771248],
        [ 0.7286651 ,  0.35411003, -0.44740763,  0.37633696, -0.77922535,
          0.10143484],
        [ 0.7456837 ,  0.21321945,  0.43681395,  0.66670686, -0.17526415,
         -0.57143337],
        [-0.10904737, -6.5569763 , -1.5122647 , -0.28841385, -4.3679237 ,
          2.3457527 ],
        [-0.64671445, -0.0115116 ,  1.6511347 , -0.2057374 ,  0.78657514,
         -2.801634  ],
        [-0.61713886, -6.6274924 ,  0.12405106, -1.0944991 , -5.551006  ,
          1.0665466 ]], dtype=float32),
 array([ 0.7594051 ,  0.6173727 ,  0.26284948,  0.79037935, -0.35311592,
        -0.8567132 ], dtype=float32),
 array([[-0.6040525 ],
        [ 1.4101756 ],
        [ 0.24725795],
        [-0.622827  ],
        [ 1.047413  ],
        [-0.49815652]], dtype=float32),
 array([0.19985951], dtype=float32),
 array([[-0.24149722, -0.02390856, -0.7674931 ,  0.3948607 ,  0.9312836 ,
          0.5400765 ,  0.8889617 ]], dtype=float32),
 array([ 0.        ,  0.        ,  0.        , -0.02144901, -0.01581738,
        -0.0014879 , -0.03584715], dtype=float32),
 array([[-0.6658743 , -0.3370512 , -0.2550019 ,  0.34614313, -0.63139987,
          0.4162104 ],
        [-0.57168555,  0.08347082, -0.273727  ,  0.4808761 , -0.61715853,
         -0.1967358 ],
        [ 0.35922444, -0.38568214, -0.58285236,  0.5774989 ,  0.6326045 ,
          0.2985909 ],
        [-0.0661917 , -0.43760926, -0.0916052 ,  0.8927803 ,  0.13842149,
         -0.34992683],
        [ 0.23785686, -0.44500706,  0.4906408 ,  0.35918587,  0.36789235,
         -0.02572972],
        [ 0.38696137, -0.1849229 , -0.21942191,  0.53663474,  0.83639723,
         -0.18632627],
        [ 0.4104499 , -0.20696345,  0.5837522 ,  0.03342409,  0.330836  ,
          0.14936468]], dtype=float32),
 array([ 0.00249394,  0.        , -0.01839624, -0.00963182,  0.0004319 ,
        -0.03692732], dtype=float32),
 array([[-0.12408768,  0.23879902, -0.09929789,  0.47483113, -0.63087356,
          0.6234647 , -0.4731034 , -0.48158467,  0.10770127, -0.25253618,
         -0.32083282],
        [-0.56555253,  0.38680506, -0.49633706,  0.5697943 , -0.48200488,
          0.54476213, -0.35888845, -0.42430288,  0.5349066 ,  0.23274344,
          0.31112546],
        [-0.4429113 , -0.4945771 ,  0.54149693,  0.17399672, -0.37835437,
          0.06035381, -0.5207996 , -0.513157  ,  0.34716308,  0.36960962,
         -0.08636849],
        [-0.50507003, -0.5290828 ,  0.3691882 ,  0.11467686, -0.04048895,
         -0.09085031, -0.16903329, -0.4583366 ,  0.7930973 , -0.3228601 ,
         -0.12022443],
        [-0.57775146, -0.58957344,  0.18461968, -0.28465408, -0.45388275,
         -0.0343642 , -0.16035348, -0.01957712,  0.12826917,  0.72385824,
          0.72797966],
        [ 0.25017026,  0.5025979 , -0.45110604, -0.20220807, -0.36900386,
         -0.14122598, -0.09268713, -0.3921825 , -0.09821925, -0.33196938,
          0.69112843]], dtype=float32),
 array([ 0.18769535,  0.07088628,  0.00719835, -0.0028759 ,  0.20366254,
         0.09003927,  0.        ,  0.17909451,  0.07405653, -0.00080267,
        -0.06907269], dtype=float32),
 array([[ 0.57901627,  0.7082396 , -0.3019497 ,  0.7168988 ,  0.19499235,
          0.18980214,  0.18909563],
        [-0.04341956, -0.08229381, -0.07507329, -0.09594028,  0.07571594,
          0.59310603, -0.52041364],
        [-0.04507375, -0.5306615 ,  0.62820584, -0.0095797 , -0.15784766,
         -0.7487749 ,  0.33101434],
        [-0.57265055,  0.1276209 , -0.30789933, -0.45186564,  0.28902745,
         -0.7603921 ,  0.57833695],
        [ 0.53581256,  0.04095094, -0.02804296,  0.8015496 , -0.51007754,
          0.47581652, -0.3711038 ],
        [ 0.46506634,  0.2551743 , -0.1856173 ,  0.16465598,  0.43211594,
         -0.19633746,  0.60991275],
        [ 0.0851022 , -0.08280811, -0.21202222,  0.36759514, -0.37019783,
          0.23788631, -0.1846331 ],
        [ 0.60724026, -0.14137305, -0.29340145,  0.7653297 , -0.37468585,
          0.43834147,  0.06309206],
        [-0.03844512, -0.01721955,  0.33503807, -0.1817753 ,  0.602775  ,
          0.13340709,  0.54219174],
        [-0.6844978 , -0.12421396,  0.14581957, -0.2732958 , -0.2693256 ,
         -0.2112229 ,  0.1306353 ],
        [-0.2916395 , -0.25943726,  0.35966486, -0.0476354 ,  0.51203245,
          0.12401754,  0.7418496 ]], dtype=float32),
 array([ 0.117758  ,  0.11104424,  0.08327398,  0.04404921,  0.02037618,
         0.01816955, -0.08357802], dtype=float32),
 array([[-0.0458123 , -0.09760468,  0.5053972 ,  0.6230296 , -0.14991449,
         -0.1731183 ],
        [ 0.86557484, -0.11931039, -0.21434   ,  0.16952507, -0.20573182,
         -0.04741926],
        [-0.22402358,  0.6780905 , -0.31203413, -0.4401243 ,  0.2114623 ,
         -0.24429247],
        [ 0.44291848,  0.26325178,  0.8331641 ,  0.04513415, -0.6322297 ,
         -0.17019553],
        [-0.71129173, -0.386654  , -0.21114914, -0.236169  , -0.56552076,
          0.94086856],
        [ 0.8146483 , -0.5357759 , -0.22296871,  0.84813213, -0.6145582 ,
         -0.35984963],
        [-0.523779  ,  0.40815857, -0.7094685 , -0.19168861, -0.1790333 ,
          0.55156475]], dtype=float32),
 array([ 0.18829902, -0.167364  ,  0.27748   ,  0.21935417,  0.03737069,
         0.01248049], dtype=float32),
 array([[-1.0322391 ],
        [ 0.67604756],
        [-0.92946374],
        [-0.93885463],
        [ 0.6642762 ],
        [ 0.47804877]], dtype=float32),
 array([-0.5092189], dtype=float32)]